<li id="<%= dom_id message %>" class="<%= "list-item d-flex #{Messaging::MessageHelper.message_box_class(message, message.current_user)}" %>">
  <div class="<%= "#{Messaging::MessageHelper.message_box_class(message, message.current_user)}-box p-2 me-5 mt-2 mb-2" %>">
    <div class="d-flex flex-column">
      <span class="col-12">
        <%= Messaging::MessageHelper.user_name(message.emitter.firstname, message.emitter.lastname) %>
      </span>
      <span class="col-12">
        <%= message.body %>
      </span>
      <% if message.user_id != message.current_user && message.read == true %>
        <span class="col-12 d-flex justify-content-end">
          <span>
            <%= t("messaging.read") %>
          </span>
        </span>
      <% end %>
    </div>
  </div>
</li>
