<li id="<%= dom_id message %>" class="<%= "list-item d-flex #{Messaging::MessageHelper.message_box_class(message, current_user)}" %>">
  <div class="<%= "#{Messaging::MessageHelper.message_box_class(message, current_user)}-box p-2 text-white me-5 mt-2 mb-2" %>">
    <div class="d-flex flex-column">
      <span class="col-12">
        <%= Messaging::MessageHelper.user_name(message.emitter.firstname, message.emitter.lastname) %>
      </span>
      <span class="col-12">
        <%= message.body %>
      </span>
      <% if message.user_id != message.emitter_id && message.read == true %>
        <span class="col-12 d-flex justify-content-end">
          <span>
            Lu
            <%= image_tag "check.svg", class: "position-relative", style: "width: 15px;" %>
          </span>
        </span>
      <% end %>
    </div>
  </div>
</li>
